87zQ7beZAamEElpy-handle_multiple_file.json
{
  "name": "handle multiple file",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        -256
      ],
      "id": "49190417-b1c7-46b5-a501-d36d977f231a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1072,
        -256
      ],
      "id": "481c3ef0-c7fc-4b12-9532-0c304732b0ba",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FnZcujJ4Egbxdk4H",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/appsrCg5gjJ9iCVta/{{ $('Search records').item.json.id }}/example/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentType",
              "value": "={{ $json.contentType }}"
            },
            {
              "name": "file",
              "value": "={{ $json.attachment }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -320
      ],
      "id": "ba6315b0-09b9-45fc-991b-f59b5cc0badf",
      "name": "Upload Image to Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "eUeRGdDoEP8TLhtZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appsrCg5gjJ9iCVta",
          "mode": "list",
          "cachedResultName": "n8n_tetsing (Copy)",
          "cachedResultUrl": "https://airtable.com/appsrCg5gjJ9iCVta"
        },
        "table": {
          "__rl": true,
          "value": "tbl0NJpgDWoCudzkC",
          "mode": "list",
          "cachedResultName": "Table 3",
          "cachedResultUrl": "https://airtable.com/appsrCg5gjJ9iCVta/tbl0NJpgDWoCudzkC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1472,
        -256
      ],
      "id": "a4ad1ad3-4ca6-464b-8b38-510b36cd28bb",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "eUeRGdDoEP8TLhtZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1264,
        -256
      ],
      "id": "bf84182f-617c-4056-ba80-d695060d5197",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FnZcujJ4Egbxdk4H",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "attachment",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -768,
        -160
      ],
      "id": "2aa1e9d2-2bf6-4ac1-b540-8d22a7476115",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e6b17aa-746d-485a-9583-385ddd6ea5a3",
              "name": "contentType",
              "value": "={{ $binary.data.mimeType }}",
              "type": "string"
            },
            {
              "id": "d6950397-a9f9-486f-be4b-cf3603098d38",
              "name": "filename",
              "value": "={{ $binary.data.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -416
      ],
      "id": "cbe5c4ac-261d-4462-b5f2-1e113fdf6262",
      "name": "Get attachment metadata"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        -320
      ],
      "id": "b99dac0f-ef7e-42a2-87dc-28c1fc0f5d2f",
      "name": "Merge"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Get attachment metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Airtable": {
      "main": [
        []
      ]
    },
    "Get attachment metadata": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Image to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}