KwimU9SQgiESFjfv-My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -16
      ],
      "id": "428b1089-8aa8-4230-b6b3-5295d97779fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        240,
        -16
      ],
      "id": "7ef0bd26-06bf-4503-917d-1ec4b36b4da1",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mHzsl7ZgcmzqPqtP",
          "name": "X account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a short, tweet-worthy, educational post about data science, Ai technology, or Ai revolution in under 280 characters.",
        "options": {
          "systemMessage": "You are a helpful assistant. Which assist  a Ai developer to post regularly about a Ai and it innovation on the X it should be seems like human written."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        -16
      ],
      "id": "3e8b1dd4-3089-43c2-8943-0c4d6775ef15",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        192
      ],
      "id": "ce3956d0-c044-4ebb-876d-9e29403ec595",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LsOVhpjqmWUL8pFT",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}