obynQSMJ78d8067L-telegram_ediitor.json
{
  "name": "telegram ediitor",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -48
      ],
      "id": "394252af-fffb-43ef-a898-efeac0ad3c2a",
      "name": "Telegram Trigger",
      "webhookId": "cb01dda2-67ba-44b1-9b97-78a0521f35e6",
      "credentials": {
        "telegramApi": {
          "id": "f0SNuyCPhmIjFgqb",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant. you reply the message funny ,suspicious and sarcastic at a same time "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        -48
      ],
      "id": "0a01e710-193f-4091-aed2-c8e4a34efad5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo-16k",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -432,
        160
      ],
      "id": "c1d80665-020f-4625-8c7c-28216b963d0a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "l1pDwg7FUjdLudHZ",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -48
      ],
      "id": "ecf3f233-9b96-467b-bada-738a368fc411",
      "name": "Send a text message",
      "webhookId": "2924f82e-006b-4007-a051-bbd7a8856d98",
      "credentials": {
        "telegramApi": {
          "id": "f0SNuyCPhmIjFgqb",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}