Lead generation/Lead generation.json
{
  "createdAt": "2025-09-15T08:41:55.784Z",
  "updatedAt": "2025-09-29T09:00:42.000Z",
  "id": "CXSxGdLs8E4kFFj2",
  "name": "Lead generation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Query Form",
        "formDescription": "Fill all the relative details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "placeholder": "Enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "business_nature",
              "requiredField": true
            },
            {
              "fieldLabel": "phone",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "website"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "26cd840c-bead-4bf0-85d0-5a23fde753bd",
      "name": "On form submission",
      "webhookId": "34e3e0f6-13bb-488f-ae06-ff1faea689fe"
    },
    {
      "parameters": {
        "operation": "google_maps",
        "q": "={{ $json.chatInput }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        112,
        256
      ],
      "id": "dfed40f8-5c17-4864-9b3e-e9f02cce5374",
      "name": "Google_maps search",
      "credentials": {
        "serpApi": {
          "id": "UX95g80IAWb6j23c",
          "name": "SerpApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        256
      ],
      "id": "241ae5e7-15da-4c39-b6b2-48c1293c166b",
      "name": "When chat message received",
      "webhookId": "18093fdf-f9b5-4b77-88d0-c3679520a516"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nconst results = $input.first().json.local_results || [];\n\nfor (const data of results) {\n  output.push({\n    json: {\n      name: data.title || null,\n      business_nature: data.type || (data.types ? data.types.join(\", \") : null),\n      phone: data.phone || null,\n      email: null, // not provided by SerpAPI\n      website: data.website || null,\n    }\n  });\n}\n\nreturn output;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        256
      ],
      "id": "8cd006b0-1935-4d19-a0f8-adfb08e72a74",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appsrCg5gjJ9iCVta",
          "mode": "list",
          "cachedResultName": "n8n_tetsing (Copy)",
          "cachedResultUrl": "https://airtable.com/appsrCg5gjJ9iCVta"
        },
        "table": {
          "__rl": true,
          "value": "tbloA1LJHHUgzUUy3",
          "mode": "list",
          "cachedResultName": "Table 4",
          "cachedResultUrl": "https://airtable.com/appsrCg5gjJ9iCVta/tbloA1LJHHUgzUUy3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $json.phone }}",
            "Name": "={{ $json.name }}",
            "Business Nature": "={{ $json.business_nature }}",
            "website": "={{ $json.website }}",
            "email": "=sarib.irenic@gmail.com "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Nature",
              "displayName": "Business Nature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        256
      ],
      "id": "86b9773c-d0c0-48b9-b8b8-4396297cd4a9",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "6ZhpeaLQSeTya7dP",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fields }}",
        "options": {
          "systemMessage": "=You are a helpful assistant. you are connected with airtable in which there are record now your task is to examine the sheet and if you find any email in it to send the email on the behalf of our company in which tell them how our automation team can help in their for automation you email should be professional and smart enough.Use your gmail tool to send the email give the appropriate subject and body.\n\nyour email format should be:\n\ngreeting:\"Hello {{ $json.fields.Name }}\"\nbody: \"\"\nregards:\"Irenic Technical Team\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        256
      ],
      "id": "79d1705c-2a0c-49b4-b994-e1e7e1bca717",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "=sarib.irenic@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        944,
        480
      ],
      "id": "9cd365ad-22e9-4b02-9082-e765b2cd7288",
      "name": "Send a message in Gmail",
      "webhookId": "c677dc81-6c56-44da-82c8-5cef3da463d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "dBleMulRwewlt8dg",
          "name": "Gmail account 14"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        480
      ],
      "id": "f91fa351-fe9b-4658-830f-8b983ab0e26c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IyauFwFPi6IGIjtD",
          "name": "Google Gemini(PaLM) Api account SKINPERFECTION"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Google_maps search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_maps search": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "name": "sarib",
          "business_nature": "fragrance",
          "phone": "03322477394",
          "email": "saribjunaid5@gmail.com",
          "website": "www.perfume.com",
          "submittedAt": "2025-08-18T12:34:11.589+05:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "e54efb8d-d872-4aa5-a273-f97bcecc58ec",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T08:41:55.790Z",
      "updatedAt": "2025-09-15T08:41:55.790Z",
      "role": "workflow:owner",
      "workflowId": "CXSxGdLs8E4kFFj2",
      "projectId": "zHjIixMuDBpDICPD"
    }
  ],
  "tags": []
}